.header-buttons {
  display: flex;
  list-style-type: none;
}

.porperties-list {
  margin-top: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card {
  background-color: grey;
  border-radius: 5px;
  margin-left: .5rem;
  margin-right: .5rem;
  padding: .5rem;
  display: flex;
  justify-content: space-evenly;
}

.user-image {
  height: 200px;
  width: 200px;
}

.barra-superior-products {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carrito {
  background-color: rgb(179, 179, 179);
  padding: .5rem;
  margin: .5rem;
  border-radius: .5rem;
}