.header-buttons {
  display: flex;
  list-style-type: none;
}

.porperties-list {
  margin-left: .5rem;
  margin-right: .5rem;
  margin-top: 0;
  border-radius: 0 0 5px 5px;
  background-color: rgb(174, 174, 174);
}

.account-container {
  height: 85vh;
  display: flex;
  flex-direction: row-reverse;
  align-content: flex-start;
  justify-content: center;
  column-gap: 10rem;
}

.account-container ul {
  padding: 1rem;
  list-style-type: none;
  background-color: rgb(189, 189, 189);
  border-radius: .5rem;
}

header {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card {
  background-color: grey;
  border: thin solid;
  border-radius: 5px 5px 0 0;
  margin-left: .5rem;
  margin-right: .5rem;
  padding: .5rem;
  display: flex;
  justify-content: space-evenly;
}


.user-image {
  height: 200px;
  width: 200px;
  border-radius: 1rem;
  margin: 1rem;
}

.barra-superior-products {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.cart {
  background-color: rgb(179, 179, 179);
  padding: .5rem;
  margin: .5rem;
  border-radius: .5rem;
}

.cart:hover {
  background-color: grey;
  cursor: pointer;
}

.cart-selected {
  background-color: grey;
  border: 2px solid;
}

.delete-order-button {
  padding: .4rem;
}